{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conten t="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="scrollToTop-btn">
        <i class='fas fa-angle-up'></i>
    </div> 

    <header>
        <a href="#main" class="brand">Isla11</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="#main">Home</a> 
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>

        </div>
    </header>
    
    <section class="main" id="main">
        <div class="content">
            <h2>Hello, I'm <br> <span>Islom Pulatov</span> </h2>
            <div class="animated-text">
                <h3>Data Scientist</h3>
                <h3>Django Developer</h3>
            </div>
            <a href="https://github.com/Islompulatov?tab=repositories" target="_blank" class="btn">See My Works</a>
            <div class="media-icons">
                <a href="https://www.facebook.com/islam.pulatov.98" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/isla2111/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/islom-pulatov-983057165/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                <a href="https://github.com/Islompulatov" target="_blank"><i class='bx bxl-github' ></i></a>
            </div>
        </div>

    </section>
 
    <section class="about" id="about">
        <div class="title reveal">
            <div class="section-title">About Me</div>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <div class="img-card">
                    <img src="{% static 'images/best.jpg' %}" alt="">
                </div>
            </div>
            <div class="column col-right reveal">
                <h2 class="content-title">Hi there! I'm Islom Pulatov</h2>
                <p class="paragraph-text">I’ve been studied at Epicode School as Data Scientist for a last 8 months and during the study I have worked with a variety of different real-life projects where my knowledge and my skills has been tested to the full.
                    I have solid programming skills, outstanding data wrangling and visualization capabilities, and excellent communication qualities that allow me to accurately communicate my findings and suggest solutions to often complex problems. I spend my leisure time with my friends, mostly playing football or going to picnic and I also spend a decent amount of time dedicated to my own continuous improvement and development. This is essential for ensuring I stay at the top of my game as a Data Scientist, especially when things are constantly changing and evolving.</p> <br>
                <p class="paragraph-text">I believe that the future of data science is bright, and with increased applications across domains, its prospects are immense. Along with artificial intelligence and machine learning, data science will contribute towards a higher level and intelligent decision-making for businesses.I am now skilled in SQL, and Python, and Machine Learning and Deep Learning models, and am currently learning Django.</p>
                <div>
                    <a href="{% static 'images/new_resume.pdf' %}" download class="btn">DownloadCV</a>
                    
                </div>
            </div>

        </div>
    </section>

    <section class="skills" id="skills">
        <div class="title reveal">
            <div class="section-title">My Skills</div>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <h2 class="content-title">My Study Background</h2>
                <p>2011-2014 I studied in technical subjects at Academic lyceum.</p>
                <p>2014-2018 I studied in automatic engineering at Tashkent State Technical University.</p>
                <p>2018-2020 I continued my study in Economics at Lazarsky University for master degree but due to quarantine and personal reasons, I temporarly stopped my study.</p>
                <p>Jan 2022-Sep 2022 I studied at Epicode Global school as Data Scientist</p>
                
                <h2 class="content-title">My Experiences</h2>
                <p>March 2018-October 2018 I had internship with Tashkent ONIKS company at the role automatic engineer. We control the automatic processes in factory</p>
                <p>Moreover from 2016 and 2018 I was tuitor in physics and mathematics in private school at Tashkent</p>
                <p>September 2022 and until now I am doing my first Internship with company Data Glacier</p>
            
            </div>
            <div class="column col-right reveal">
                <div class="bar">
                    <div class="skills-group">
                        <div class="skills-data">
                            <i class='bx bxs-badge-check' ></i>
                            <h3 class="skills-name">Python</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Numpy</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Pandas</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Matplotlib</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Seaborn</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">BeautifulSoup</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Selenium</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">GIT</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Scikit-Learn</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Pytorch</h3>
                        </div>

                    </div>
                    <div class="skills-group">
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">OpenCV</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">NLP</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">HTML</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">CSS</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Bootstrap</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Django</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">PostgreSQL</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Docker</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Spark</h3>
                        </div>
                        <div class="skills-data">
                            <i class="bx bxs-badge-check" ></i>
                            <h3 class="skills-name">Hadoop</h3>
                        </div>    
                    </div>  
                </div>
            </div>
        </div>
    
    </section>    
    <section class="projects" id="projects">
        <div class="title reveal">
            <div class="section-title">Projects</div>
            <p>During the study at Epicode Global we created real-life projects and solved real problems. Additionally I had learned a lot of new skills such as problem solving and work with team on Github. Some of my projects you can see in below:</p>
        </div>
        <div class="content">
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxl-yelp'></i>
                </div>
                <div class="info">
                    <h3><a href="https://islompulatov--build-week-streamlit-app-y9wg3a.streamlit.app/" target="_blank">Predict future Business</a></h3>
                    <p>In this project we scrapped the data from website yelp.com about some type of businesses in London.We have analysed taken datas with python libraries then present them to investors that what type of business is more profitable in London</p>
                </div>
            </div>
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxs-plane-take-off' ></i>
                </div>
                <div class="info">
                    <h3><a href="https://web-production-9fdc.up.railway.app/" target="_blank">Predict Flight Prices</a></h3>
                    <p>In this project I created app which will predict estimate average flight prices in Europe, for that:
                        1. Scrapped all the datas from website <kayak class="com"></kayak>
                        2. Cleaned and prepocessed the data 
                        3. Trained and saved machine learning model
                        4. Deploy it with Django
                    </p>
                </div>
            </div>
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxs-taxi'></i>
                </div>
                <div class="info">
                    <h3><a href="https://github.com/Islompulatov/Internship/tree/main/week3/presentation" target="_blank">Cab Companies</a></h3>
                    <p>In this project I provided actionable insights to help private U.S firm in identifying the right company for making
                        investment.1)I did the analysis with python <a href="https://github.com/Islompulatov/Internship/blob/main/week2/dataset/EDA.ipynb" target="_blank">Source Code</a> then created presentation file.
                        2)Data analysed with <a href="https://github.com/Islompulatov/Internship/tree/main/week3/presentation" target="_blank">PowerBI</a>  for better visualization
                        </p>
                </div>
            </div>
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxs-capsule'></i>
                </div>
                <div class="info" >
                    <h3><a href="https://github.com/Abubakr1710/Hipocratia" target="_blank">Heart Attack</a></h3>
                    <p>In this project we build Machine Learning model that is able to detect when heart attack is about to happen.
                        In test.py file you can test it out.</p>
                </div>
            </div>
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxs-cctv' ></i>
                </div>
                <div class="info">
                    <h3><a href="https://github.com/Islompulatov/zalando_challange" target="_blank">Zalando MNIST</a></h3>
                    <p>We created and trained a neural networks which is able to detect different kind of items.Main idea is to help Zalando to sort return items</p>
                </div>
            </div>
            <div class="card reveal">
                <div class="projects-icon">
                    <i class='bx bxs-watch-alt'></i>
                </div>
                <div class="info">
                    <h3><a href="https://github.com/Islompulatov/Build_week_2" target="_blank">Google Fit</a></h3>
                    <p>Google fit is one of the most popular fitness app in the world.We created Machine Learning model that it will keep track of the calories you burn and created app for apple watch</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="title reveal">
            <div class="section-title">Contact Me</div>
        </div>
        <div class="content">
            <div class="row">
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info">
                        <h3>Address</h3>
                        <span>Jana Miklaszewskiego 9, 02-781 Warsaw, Poland</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info">
                        <h3>Phone</h3>
                        <span><a href="tel:+48 793-415-997">+48793415997</a></span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="info">
                        <h3>Email</h3>
                        <span><a href="mailto:islompulatov115@gmail.com" target="_blank">islompulatov115@gmail.com</a></span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class='bx bxl-tux'></i>
                    </div>
                    <div class="info">
                        <h3>Kaggle</h3>
                        <span><a href = "https://www.kaggle.com/islompulatov" target="_blank">MyKaggle</a></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="contact-form reveal">
                <form class="was-validated" method="post">
                    {% csrf_token %}
                    <h3>Send Message</h3>
                    <div class="input-box">
                        <input name="name" type="text" placeholder="Name" required>
                    </div>
                    <div class="input-box">
                        <input name="email" type="text" placeholder="Email" required>
                    </div>
                    <div class="input-box">
                        <textarea rows="8" cols="80" placeholder="Message" name="message" required></textarea>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="send-btn" value="Send">
                    </div>
                </form>
                
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <span class="footer-title">Islom Pulatov</span>
        <p>Copyright @2022. All Rights Reserved.</p>
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script> 
</body>

</html> 